body {
    font-family: 'Modak', cursive;
    box-sizing: border-box;
}

#header-nav {
    background-color: grey;
    border-radius:0;
    border: 0;
}

#header-nav .navbar-brand {
    color: black;
    font-size: 2em;
}

#nav-list {
    text-align: center;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid black;
}

#collapsable-nav > #nav-list > li > a {
    background-color: white;
    color: black;
    border: 2px solid black;
}

#collapsable-nav {
    margin-bottom: 0;
    margin-top: 0;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 0;
    line-height: 1;
}
section.submenu {
    background: #cccccc;
    margin-bottom: 10px;
}

section.submenu > h2 {

}

@media (min-width: 768px) {
    #collapsable-nav {
        visibility: hidden;
    }
    
}

